<form action="/" method="POST" id="controller">
  <label style="background:#f00">
    <input type="checkbox" name="x1" value="1"></label>
  <input type="hidden" name="x1" value="0">

  <label style="background:#ff0">
    <input type="checkbox" name="x2" value="1"></label>
  <input type="hidden" name="x2" value="0">

  <label style="background:#0f0">
    <input type="checkbox" name="x3" value="1"></label>
  <input type="hidden" name="x3" value="0">

  <label style="background:#09f">
    <input type="checkbox" name="x4" value="1"></label>
  <input type="hidden" name="x4" value="0">

  <label style="background:#fff">
    <input type="checkbox" name="x5" value="1"></label>
  <input type="hidden" name="x5" value="0">
  <button type="submit">OK</button>
</form>